################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QRCodeExperiment/.vs/QRCodeExperiment/v16
